{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Have any of these details changed since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/check-in/video/review"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">About you</span>

    {{ govukCheckboxes({
    name: "circumstances",
    fieldset: {
    legend: {
    text: "Have any of these details changed since your last check-in?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
    {
      value: "homeAddress",
      text: "Home address"
    },
    {
      value: "employmentStatus",
      text: "Employment status"
    },
    {
      value: "relationshipStatus",
      text: "Relationship status"
    },
    {
      value: "contactDetails",
      text: "Contact details"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None",
      behaviour: "exclusive"
    }
  ]
    }) }}

    {{ govukButton({
    text: "Continue",
    href: "/check-in/questions/police-contact"
    }) }}
  </div>
</div>


{% endblock %}
