{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Have you had contact with the police since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/check-in/questions/circumstances"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>

    {{ govukRadios({
    name: "policeContact",
    fieldset: {
    legend: {
      text: "Have you had contact with the police since your last check-in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
    }) }}


    {{ govukButton({
    text: "Continue",
    href: "/check-in/questions/alcohol"
    }) }}
  </div>
</div>


{% endblock %}
