{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Has your alcohol consumption changed since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/questions/police-contact"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukRadios({
              name: "alcoholUse",
              errorMessage: validationErrors | findError("alcoholUse"),
              value: formData["alcoholUse"],
              fieldset: {
                legend: {
                  text: "Has your alcohol consumption changed since your last check-in?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "increased",
                  text: "It has increased"
                },
                {
                  value: "same",
                  text: "It has stayed the same"
                },
                {
                  value: "decreased",
                  text: "It has decreased"
                },
                {
                  divider: "or"
                },
                {
                  value: "no-alcohol",
                  text: "I do not drink alcohol"
                }
              ]
          })
        }}

        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
