{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Would you like to request a callback from your probation practitioner?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/submission/questions/mental-health"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>
    {{ govukRadios({
    name: "callback",
    fieldset: {
    legend: {
    text: "Would you like to request a callback from your probation practitioner?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
    }) }}
    {{ govukButton({
    text: "Continue",
    href: "/submission/check-your-answers"
    }) }}
  </div>
</div>


{% endblock %}
