{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Have any of these circumstances changed since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/submission/video/review"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ errorSummary(validationErrors) }}


    {% set homeAddressChanges %}
    {{ govukTextarea({
      name: "homeAddressChanges",
      id: "homeAddressChanges",
      errorMessage: validationErrors | findError("homeAddressChanges"),
      value: formData["homeAddressChanges"], 
      label: {
        text: "Tell us how your home address changed"
      }
    }) }}
    {% endset -%}

    {% set employmentStatusChanges %}
    {{ govukTextarea({
      name: "employmentStatusChanges",
      id: "employmentStatusChanges",
      errorMessage: validationErrors | findError("employmentStatusChanges"),
      value: formData["employmentStatusChanges"], 
      label: {
        text: "Tell us how your employment status changed"
      }
    }) }}
    {% endset -%}

    {% set supportSystemChanges %}
    {{ govukTextarea({
      name: "supportSystemChanges",
      id: "supportSystemChanges",
      errorMessage: validationErrors | findError("supportSystemChanges"),
      value: formData["supportSystemChanges"], 
      label: {
        text: "Tell us how your support system changed"
      }
    }) }}
    {% endset -%}

    {% set contactDetailsChanges %}
    {{ govukTextarea({
      name: "contactDetailsChanges",
      id: "contactDetailsChanges",
      errorMessage: validationErrors | findError("contactDetailsChanges"),
      value: formData["contactDetailsChanges"], 
      label: {
        text: "Tell us how your contact details changed"
      }
    }) }}
    {% endset -%}

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukCheckboxes({
    name: "circumstances",
    errorMessage: validationErrors | findError("circumstances"),
    fieldset: {
      legend: {
        text: "Have any of these circumstances changed since your last check-in?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
    {
      value: "homeAddress",
      text: "Home address",
      checked: checked("circumstances", "homeAddress"),
      conditional: {
        html: homeAddressChanges
      }
    },
    {
      value: "employmentStatus",
      text: "Employment status",
      checked: checked("circumstances", "employmentStatus"),
      conditional: {
        html: employmentStatusChanges
      }
    },
    {
      value: "supportSystem",
      text: "Support system (family, relationships, friends)",
      checked: checked("circumstances", "supportSystem"),
      conditional: {
        html: supportSystemChanges
      }
    },
    {
      value: "contactDetails",
      text: "Contact details",
      checked: checked("circumstances", "contactDetails"),
      conditional: {
        html: contactDetailsChanges
      }
    },
    {
      divider: "or"
    },
    {
      value: "none",
      checked: checked("circumstances", "none"),
      text: "None of my circumstances have changed",
      behaviour: "exclusive"
    }
  ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>


{% endblock %}
