{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Have you used drugs since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/submission/questions/alcohol"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>

    {{ govukRadios({
      name: "drugs",
      fieldset: {
        legend: {
          text: "Have you used drugs since your last check-in?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
    text: "Continue",
    href: "/submission/questions/physical-health"
    }) }}

  </div>
</div>


{% endblock %}
