{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "How are you feeling mentally?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/submission/questions/physical-health"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>
    {{ govukRadios({
    name: "mentalHealth",
    fieldset: {
    legend: {
    text: "How are you feeling mentally?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
    items: [
        {
          value: "veryWell",
          text: "Very well"
        },
        {
          value: "well",
          text: "Well"
        },
        {
          value: "ok",
          text: "OK"
        },
        {
          value: "notGreat",
          text: "Not great"
        },
        {
          value: "struggling",
          text: "Struggling"
        }
      ]
    }) }}
    {{ govukButton({
    text: "Continue",
    href: "/submission/questions/callback"
    }) }}
  </div>
</div>


{% endblock %}
