{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Have you had contact with the police since your last check-in?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/questions/circumstances"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}


      {% set policeContactDetails %}
        {{
          govukTextarea({
            name: "policeContactDetails",
            id: "policeContactDetails",
            value: formData["policeContactDetails"],
            errorMessage: validationErrors | findError("policeContactDetails"),
            label: {
              text: "Tell us what kind of contact, for example, ‘stop and search’ or ‘I reported a crime’"
            }
          })
        }}
      {% endset -%}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukRadios({
          name: "policeContact",
          errorMessage: validationErrors | findError("policeContact"),
          value: formData["policeContact"],
          fieldset: {
          legend: {
            text: "Have you had contact with the police since your last check-in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: policeContactDetails
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
          })
        }}

        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
