{% extends "./layout.njk" %}
{% set pageTitle = "Privacy" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    {% include "pages/privacy-notice-content.njk" %}
  </div>
</div>
{% endblock %}
