<div class="es-pane es-pane--hidden" id="video-pane-loading" aria-hidden="true" tabindex="0">
  <div class="es-loader">
    <div class="es-loader__spinner" aria-live="polite" role="status"></div>
    <div class="es-loader__content">
      <h1 class="govuk-heading-m">Checking this is you</h1>
    </div>
  </div>
</div>
