<div class="es-pane es-pane--hidden" id="video-pane-nomatch" aria-hidden="true" tabindex="0">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We cannot confirm this is you</h1>
      <p>We have checked and we cannot confirm this is you. You can try recording again or submit your video anyway.</p>
      <div class="videoRecorder__videoWrap">
        <video class="videoRecorder__video-preview">Your browser does not support video</video>
        <span class="govuk-tag videoRecorder__tag">Preview</span>
      </div>
      <p class="govuk-!-font-weight-bold">In your video, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are in a well lit area</li>
        <li>you are in front of a plain background</li>
        <li>your face is in the frame</li>
        <li>you are not wearing a hat or sunglasses</li>
      </ul>
      <form method="POST" id="video-check-in">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="videoMatch" value="NO_MATCH" />
        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="">Record video again</a>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Submit video anyway
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
