{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "../layout.njk" %}
{% set section = "register" %}

{% set title = "Persons details" %}
{%
  set name = [
    formData['firstName'], ' ', formData['lastName']
  ] | join
%}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/practitioners/register/set-up"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Personal details</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "First name" },
              value: { text: formData['firstName'] },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " first name"
                  }
                ]
              }
            },
            {
              key: { text: "Last name" },
              value: { text: formData['lastName'] },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " last name"
                  }
                ]
              }
            },
            {
              key: { text: "Date of birth" },
              value: { text: dateOfBirth | gdsDate },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " date of birth"
                  }
                ]
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">Photo</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Photo</dt>
          <dd class="govuk-summary-list__value">
            <img src="{{ formData["photoData"] }}" class="es-profile-image--small" />
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/practitioners/register/photo?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> your photo</span></a
            >
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How does {{ name }} want us to send a link?</dt>
          <dd class="govuk-summary-list__value">{{ contactPreference }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/practitioners/register/contact?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> contact details notification preference</span></a
            >
          </dd>
        </div>
        {% if formData['contactPreference'] == 'BOTH' or formData['contactPreference'] == 'TEXT' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mobile number</dt>
            <dd class="govuk-summary-list__value">{{ formData['mobile'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/practitioners/register/contact/mobile?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> the mobile number</span></a
              >
            </dd>
          </div>
        {% endif %}

        {% if formData['contactPreference'] == 'BOTH' or formData['contactPreference'] == 'EMAIL' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">{{ formData['email'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/practitioners/register/contact/email?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> the email address</span></a
              >
            </dd>
          </div>
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Check-in settings</h2>

      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "Start date" },
              value: { text: startDate | gdsDate},
              actions: {
                items: [
                  {
                    href: "/practitioners/register/set-up?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " start date"
                  }
                ]
              }
            },
            {
              key: { text: "Frequency" },
              value: { text: frequency },
              actions: {
                items: [
                  {
                    href: "/practitioners/register/set-up?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " frequency"
                  }
                ]
              }
            }
          ]
        })
      }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button href="/practitioners/dashboard" class="govuk-button" type="submit">Confirm and sign-up</button>
      </form>
    </div>
  </div>
{% endblock %}
