{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../layout.njk" %}
{% set section = "register" %}

{%
  set name = [
    formData['firstName'], ' ', formData['lastName']
  ] | join
%}
{% set title = "How often would you like " + name + " to submit a remote check-ins?" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/practitioners/register/start-date"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
            name: "frequency",
            errorMessage: validationErrors | findError("frequency") | default(null),
            value: formData["frequency"],
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "weekly",
                text: "Weekly"
              },
              {
                value: "biweekly",
                text: "Every 2 weeks"
              },
              {
                value: "monthly",
                text: "Monthly"
              }
            ]
          })
        }}

        {{
          govukButton({
              text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
