{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "./layout.njk" %}
{% set section = "invite-pop" %}
{% set hideFeedback = true %}
{% set pageTitle = "You cannot use this service" %}
{% set pageTitle = title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot use this service</h1>
      <p>You do not have permission to access it.</p>
      <p>
        If you think you should have access, contact the support inbox at
        <a href="mailto:probationaccounts@justice.gov.uk" class="govuk-link">probationaccounts@justice.gov.uk</a>.
      </p>
    </div>
  </div>
{% endblock %}
