{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../../partials/layout.njk" %}

{% set journeyName = "Sign up for remote check-in" %}
{% set pageTitle = "Take a photo of your face" %}


{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/register/personal-details"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Take a photo of your face</h1>
    <p>You’ll be asked to take a photo of your face on this device. This will match your face to your probation record. It allows us to confirm your identity.</p>
    <p>You will be asked to accept permission to take photos on your device.</p>
    <p>Your photo will be shared with your probation practitioner. Your practitioner will use your photo to make sure it is you submitting check-ins.</p>
    {{ govukButton({
    text: "Continue",
    href: "/register/photo/capture"
    }) }}
  </div>
</div>


{% endblock %}
