{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "../../partials/layout.njk" %}

{% set journeyName = "Sign up for remote check-in" %}
{% set pageTitle = "Remote check-in submitted" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
          titleText: "Details submitted"
        })
      }}
      <p>We have sent you a confirmation using the contact details you entered.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>Your photo has been shared with your probation practitioner.</p>
      <p>Your probation practitioner will contact you if there are any issues.</p>
      <p>
        Once your practitioner has verified your photo, we will send you a link when it’s time for you to submit a
        remote check-in using the contact details you’ve entered.
      </p>
      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>
{% endblock %}
