{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% set journeyName = "Sign up for remote check-in" %}
{% set pageTitle = "Sign up for remote check-in" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign up for remote check-in</h1>
    <p>You can use this service to sign up for remote check-in as part of your probation. You can only use this service if you have been sent a link by your probation practitioner.</p>
    <p>You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a device with a camera and access to the internet</li>
      <li>your name and date of birth</li>
      <li>an email address or phone number</li>
    </ul>
    <p>As part of this service you will be required to: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give us your contact details so we can send you future remote check in links </li>
      <li>take a photo of your face</li>
    </ul>
    <form action="/register/start" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukButton({
      text: "Start now",
      isStartButton: true
    }) }}
      </form>
    <h2 class="govuk-heading-m">If you need help</h2>
    <p>If you have difficulty using this service, or you do not have access to everything you need, you should contact your probation practitioner and let them know. </p>
  </div>
</div>

{% endblock %}
