{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../partials/errorSummary.njk" import errorSummary %}
{% from "../../partials/validatedDateInput.njk" import validatedDateInput %}
{% extends "../../partials/layout.njk" %}

{% set journeyName = "Sign up for remote check-in" %}
{% set pageTitle = "Personal details" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/register"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {{ errorSummary(validationErrors) }}

    <h1 class ="govuk-heading-l">Personal details</h1>
    <p>We will use your personal details to sign you up to this service and send you a link to complete each remote check-in.</p>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-width-two-thirds",
        id: "firstName",
        name: "firstName",
        errorMessage: validationErrors | findError("firstName")
      }) }}

      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-width-two-thirds",
        id: "lastName",
        name: "lastName",
        errorMessage: validationErrors | findError("lastName")
      }) }}


       {{ validatedDateInput({
            id: "dob",
            title: {
              text:  "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            },
            validationErrors: validationErrors,
            day: day,
            month: month,
            year: year
          }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>


{% endblock %}
