{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../partials/errorSummary.njk" import errorSummary %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Check your answers" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/submission/questions/callback"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(validationErrors) }}

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Video check-in</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Video check" },
            value: { text: "Identity confirmed" },
            actions: {
              items: [
                {
                  href: "/submission/video/review?checkAnswers=true",
                  text: "View",
                  visuallyHiddenText: "your video check-in"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About you</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Have any of these circumstances changed since your last check-in?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/circumstances?checkAnswers=true",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "Have you had contact with the Police since your last check-in?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/police-contact",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "Have you had used alcohol since your last check-in?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/alcohol",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "Have you had used drugs since your last check-in?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/drugs",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "How are you feeling physically?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/physical-health",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "How are you feeling mentally?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/mental-health",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          },
          {
            key: { text: "Would you like to request a callback from your probation practitioner?" },
            value: { text: "Answer" },
            actions: {
              items: [
                {
                  href: "/submission/questions/callback",
                  text: "Change",
                  visuallyHiddenText: "answer given"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukCheckboxes({
          name: "checkAnswers",
          errorMessage: validationErrors | findError("checkAnswers"),
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "Submit your remote check-in"
            }
          },
          items: [
            {
              value: "confirm",
              text: "I confirm that, to be best of my knowledge, the details I have provided are correct."
            }
          ]
        }) }}

        {{ govukButton({
          text: "Submit remote check-in"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
