{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Check your answers" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/" + submissionId + "/video/review"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">About you</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Mental health</dt>
          <dd class="govuk-summary-list__value">{{ formData['mentalHealth'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/submission/{{ submissionId }}/questions/mental-health?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> your answer on your mental health</span></a
            >
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Is there anything you need help with?</dt>
          <dd class="govuk-summary-list__value">{{ formData['assistance'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> if there anything you need help with</span></a
            >
          </dd>
        </div>
        {% if formData['mentalHealthSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mental health</dt>
            <dd class="govuk-summary-list__value">{{ formData['mentalHealthSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}

        {% if formData['alcoholSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Alcohol</dt>
            <dd class="govuk-summary-list__value">{{ formData['alcoholSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}
        {% if formData['drugsSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Drugs</dt>
            <dd class="govuk-summary-list__value">{{ formData['drugsSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}
        {% if formData['moneySupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Money</dt>
            <dd class="govuk-summary-list__value">{{ formData['moneySupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}
        {% if formData['housingSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Housing</dt>
            <dd class="govuk-summary-list__value">{{ formData['housingSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}

        {% if formData['supportSystemSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Support system</dt>
            <dd class="govuk-summary-list__value">{{ formData['supportSystemSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}

        {% if formData['otherSupport'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Other</dt>
            <dd class="govuk-summary-list__value">{{ formData['otherSupport'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/assistance?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Contact with practitioner requested</dt>
          <dd class="govuk-summary-list__value">{{ formData['callback'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/submission/{{ submissionId }}/questions/callback?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> if there anything you need help with</span></a
            >
          </dd>
        </div>

        {% if formData['callbackDetails'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">What needs to be discussed</dt>
            <dd class="govuk-summary-list__value">{{ formData['callbackDetails'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/submission/{{ submissionId }}/questions/callback?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> your mental health answer</span></a
              >
            </dd>
          </div>
        {% endif %}
      </dl>

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukCheckboxes({
            name: "checkAnswers",
            errorMessage: validationErrors | findError("checkAnswers"),
            fieldset: {
              legend: {
                classes: "govuk-fieldset__legend--m",
                text: "Submit your remote check-in"
              }
            },
            items: [
              {
                value: "confirm",
                text: "I confirm that, to the best of my knowledge, the details I have provided are correct. I understand that this information will be shared with my probation practitioner."
              }
            ]
          })
        }}

        {{
          govukButton({
            text: "Submit online wellbeing check"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
