{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Check your answers" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/questions/callback"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Video check-in</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "Video check" },
              value: { text: "Identity confirmed" },
              actions: {
                items: [
                  {
                    href: "/submission/video/review?checkAnswers=true",
                    text: "View",
                    visuallyHiddenText: "your video check-in"
                  }
                ]
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">About you</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "Have any of these circumstances changed since your last check-in?" },
              value: { html: circumstancesList },
              actions: {
                items: [
                  {
                    href: "/submission/questions/circumstances?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your circumstances have changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us how your home address changed" },
              value: { text: formData['homeAddressChanges'] },
              classes: showIfExists('homeAddress', formData['circumstances']),
              actions: {
                items: [
                  {
                    href: "/submission/questions/circumstances?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your home address has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us how your employment status changed" },
              value: { text: formData['employmentStatusChanges'] },
              classes: showIfExists('employmentStatus', formData['circumstances']),
              actions: {
                items: [
                  {
                    href: "/submission/questions/circumstances?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your employment status has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us how your support system changed" },
              value: { text: formData['supportSystemChanges'] },
              classes: showIfExists('supportSystem', formData['circumstances']),
              actions: {
                items: [
                  {
                    href: "/submission/questions/circumstances?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your support system has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us how your contact details changed" },
              value: { text: formData['contactDetailsChanges'] },
              classes: showIfExists('contactDetails', formData['circumstances']),
              actions: {
                items: [
                  {
                    href: "/submission/questions/circumstances?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your contact details have changed"
                  }
                ]
              }
            },
            {
              key: { text: "Have you had contact with the police since your last check-in?" },
              value: { text: policeContact },
              actions: {
                items: [
                  {
                    href: "/submission/questions/police-contact?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your contact with the police has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us what kind of contact, for example, ‘stop and search’ or ‘I reported a crime’" },
              value: { text: formData['policeContactDetails'] },
              classes: showIfExists('Yes', policeContact),
              actions: {
                items: [
                  {
                    href: "/submission/questions/police-contact?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "what contact you had with the police"
                  }
                ]
              }
            },
            {
              key: { text: "Has your alcohol consumption changed since your last check-in?" },
              value: { text: alcoholUse },

              actions: {
                items: [
                  {
                    href: "/submission/questions/alcohol?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your alcohol consumption has changed"
                  }
                ]
              }
            },
            {
              key: { text: "How many units of alcohol do you drink in a week?" },
              classes: showIfExists(formData['alcoholUse'], ['increased', 'same', 'decreased']),
              value: { text: alcoholUnits },
              actions: {
                items: [
                  {
                    href: "/submission/questions/alcohol-units?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how many units of alcohol you drink in a week"
                  }
                ]
              }
            },
            {
              key: { text: "Has your drug use changed since your last check-in?" },
              value: { text: drugsUse },
              actions: {
                items: [
                  {
                    href: "/submission/questions/drugs?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your drug use has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Do you have any physical health concerns?" },
              value: { text: physicalHealth },
              actions: {
                items: [
                  {
                    href: "/submission/questions/physical-health?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your physical health has changed"
                  }
                ]
              }
            },
            {
              key: { text: "Tell us about your health concern" },
              value: { text: formData['physicalHealthDetails'] },
              classes: showIfExists('Yes', physicalHealth),
              actions: {
                items: [
                  {
                    href: "/submission/questions/physical-health?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how your physical health has changed"
                  }
                ]
              }
            },
            {
              key: { text: "How are you feeling?" },
              value: { text: mentalHealth },
              actions: {
                items: [
                  {
                    href: "/submission/questions/mental-health?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "how you are feeling"
                  }
                ]
              }
            },
            {
              key: { text: "Do you need to speak to your probation practitioner?" },
              value: { text: callback },
              actions: {
                items: [
                  {
                    href: "/submission/questions/callback?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: "whether you need to speak to your probation practitioner"
                  }
                ]
              }
            }
          ]
        })
      }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukCheckboxes({
            name: "checkAnswers",
            errorMessage: validationErrors | findError("checkAnswers"),
            fieldset: {
              legend: {
                classes: "govuk-fieldset__legend--m",
                text: "Submit your remote check-in"
              }
            },
            items: [
              {
                value: "confirm",
                text: "I confirm that, to be best of my knowledge, the details I have provided are correct."
              }
            ]
          })
        }}

        {{
          govukButton({
            text: "Submit remote check-in"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
