{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Remote check-in submitted" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
          titleText: "Remote check-in submitted"
        })
      }}
      <p>We have sent you a confirmation using the contact details you entered when you signed up.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>Your photo, location and update have been shared with your probation practitioner.</p>
      <p>Your probation practitioner will contact you if there are any issues with your remote check-in.</p>
      <p>
        We will remind you of when it’s time for your next check-in using the contact details you provided when you
        signed up.
      </p>
      <p>
        <a href="#" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
