{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% block beforeContent %}
  {{
    govukBackLink({
    text: "Back",
    href: "/practitioners/register/photo"
    })
  }}
{% endblock %}

{% set title = "Does this photo meet the rules?" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person is in a well lit area</li>
        <li>the person is in front of a plain background</li>
        <li>the persons face is in the frame</li>
        <li>there is no other person in the photo</li>
        <li>the person is not wearing a hat or sunglasses</li>
      </ul>
      <img src="{{ formData["photoData"] }}" class="es-profile-image" />
      <div class="govuk-button-group">
        <a href="/practitioners/register/contact" class="govuk-button">Yes, continue</a>
        <a href="/practitioners/register/photo" class="govuk-button govuk-button--secondary">No, take another photo</a>
      </div>
    </div>
  </div>
{% endblock %}
