{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Confirm your identity" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/" + submissionId + "/video/inform"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>In your video:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you do not need to speak</li>
        <li>don’t worry about how you look</li>
        <li>make sure your whole face is visible and well lit</li>
        <li>make sure you are not wearing a hat or sunglasses</li>
      </ul>
      <form method="POST" id="video-check-in">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div
          class="videoRecorder"
          data-module="videoRecorder"
          data-video-upload-url="{{ videoUploadUrl }}"
          data-submission-id="{{ submissionId }}"
        >
          <ul class="es-hidden">
            {% for frame in frameUploadUrl %}
              <li data-frame-upload-url="{{ frame }}"></li>
            {% endfor %}
          </ul>
          <div class="videoRecorder__container">
            <div class="videoRecorder__videoWrap">
              <video class="videoRecorder__video">Your browser does not support video</video>
              <video class="videoRecorder__video-preview">Your browser does not support video</video>
              <span class="govuk-tag videoRecorder__tag"></span>
            </div>
            <div class="govuk-button-group videoRecorder__controls">
              <button type="button" class="govuk-button videoRecorder__startButton" data-module="govuk-button">
                Start recording
              </button>
              <button
                type="button"
                class="govuk-button govuk-button--secondary videoRecorder__stopButton"
                data-module="govuk-button"
                disabled
              >
                Stop recording
              </button>
            </div>
            <div class="govuk-button-group videoRecorder__form-controls">
              <button type="button" class="govuk-button videoRecorder__continueButton" data-module="govuk-button">
                Continue
              </button>
              <button type="button" class="govuk-button videoRecorder__recordAgainButton" data-module="govuk-button">
                Try again
              </button>
            </div>
          </div>
          <div class="videoRecorder__error">
            <div class="govuk-inset-text es-inset-text--error">
              <h2 class="govuk-heading-m es-heading--error">You need to accept permissions on your device</h2>
              <p>
                We are unable to access your camera to record a video. Check your browser settings and permissions. If
                you are having trouble using this service, contact your probation practitioner.
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    const submissionId = '{{ submissionId }}'
  </script>
{% endblock %}
