{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Confirm your identity" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/submission/" + submissionId + "/video/inform"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>In your video:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you do not need to speak</li>
        <li>don’t worry about how you look</li>
        <li>make sure your whole face is visible and well lit</li>
        <li>make sure you are not wearing a hat or sunglasses</li>
      </ul>
      <form method="POST" id="video-check-in">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="es-video" id="es-video-check-in">
          <div class="es-video__video-wrap">
            <video class="es-video__video" id="es-video-check-in__video">Your browser does not support video</video>
            <video class="es-video__video" id="es-video-check-in__preview">Your browser does not support video</video>
            <div class="govuk-tag es-video__tag" id="es-video-check-in__status"></div>
          </div>
          <div class="govuk-button-group es-video__controls" id="es-video-check-in__controls">
            <button id="start-recording" class="govuk-button">Start recording</button>
            <button id="stop-recording" class="govuk-button govuk-button--secondary">Stop recording</button>
          </div>
          <div class="govuk-button-group es-video__navigation" id="es-video-check-in__navigation">
            <a class="govuk-button" href="/submission/{{ submissionId }}/video/review">Continue</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
