@use 'govuk-frontend/dist/govuk/index' as gds;

.es-page-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;

  &__back {
    display: flex;
    align-items: center;
  }

  &__actions {
    @include gds.govuk-font($size: 19);

    & {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.es-flagged-heading {
  display: flex;
  align-items: center;
  gap: 1rem;

  .govuk-tag {
    max-width: fit-content;
  }
}
