.es-photo-capture {
  &__wrap {
    position: relative;
    height: 444px;
    width: 345px;
    position: relative;
    background-color: #000;
    margin-bottom: 1rem;
  }

  &__video {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    object-fit: cover;
  }

  &__frame {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-image: url(/assets/images/frame.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  canvas {
    display: none;
  }
}

.es-profile-image {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
