{% extends "./layout.njk" %}

{% set pageTitle = "Online check in reporting" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-visually-hidden">{{ pageTitle }}</h1>
  <table class="govuk-table es-table--responsive es-table--stats">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">&nbsp;</th>
        {% for site in sites %}
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ site | capitalize }}</th>
        {% endfor %}
        <th scope="col" class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight">Total</th>
        <th
          scope="col"
          class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight es-table__cell--extra-highlight"
        >
          %
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">People on probation signed up</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ offendersByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ offendersTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Check in invites sent</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ invitesByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ invitesTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Completed check ins</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ completedCheckinsByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ completedCheckinsTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Completed on day 1</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ completedCheckinsPerSiteOnDay1ByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ completedDay1Total }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ completedDay1Percentage }}%
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Completed on day 2</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ completedCheckinsPerSiteOnDay2ByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ completedDay2Total }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ completedDay2Percentage }}%
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Completed on day 3</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ completedCheckinsPerSiteOnDay3ByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ completedDay3Total }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ completedDay3Percentage }}%
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average number of completed check ins per PoP</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ completedAvgByLocation[site] | round(2) or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ checkinCompletedAverageTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Missed check-ins</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ expiredTotalByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ expiredCheckinsTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ expiredCheckinsPercentageTotal }}%
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Check-ins with raised concern</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ flaggedCheckinsByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ flaggedCheckinsTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ flaggedCheckinsPercentageTotal }}%
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Stopped checkins</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ stoppedCheckinsByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ stoppedCheckinsTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">% of check ins completed on time</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ ontimePercentageByLocation[site] or 0 }}%
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ ontimeCheckinPercentageTotal }}%
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Check-ins with photo mismatch</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ mismatchByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ automatedIdCheckAccuracyTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">
          {{ automatedIdCheckAccuracyPercentageTotal }}%
        </td>
      </tr>

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average number of flags per check in</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ averageFlagsPerCheckinByLocation[site] }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ averageFlagsPerCheckinTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">% of check ins that request a callback</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ callbackRequestPercentageByLocation[site]}}%
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ callbackRequestPercentageTotal }}%
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number of PoPs scheduled to check in weekly</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ checkin7daysFrequencyByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ frequencyWeeklyTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number of PoPs scheduled to check in every 2 weeks</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ checkin14daysFrequencyByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ frequencyFortnightlyTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number of PoPs scheduled to check in every 4 weeks</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ checkin28daysFrequencyByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ frequency4WeeksTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number of PoPs scheduled to check in every 8 weeks</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ checkin56daysFrequencyByLocation[site] or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
          {{ frequency8WeeksTotal }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average review response time </th>
        {% for site in sites %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
        {{ averageReviewResponseTimeByLocation[site] or "No data" }}
        </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">{{ averageReviewResponseTimeTotal }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average time to register a PoP </th>
        {% for site in sites %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
        {{ averageTimeToRegisterByLocation[site] or "No data" }}
        </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">{{ averageTimeToRegisterTotal }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average checkin completion time</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ averageCheckinCompletionTimeByLocation[site] or "No data"  }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">{{ averageCheckinCompletionTimeTotal }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Average time taken by a PP to complete a review of a checkin </th>
        {% for site in sites %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
        {{ averageTimeTakenToCompleteCheckinReviewByLocation[site] or "No data"  }}
        </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">{{ averageTimeTakenToCompleteCheckinReviewTotal }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight" data-label="%">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m">Check in message status summary</h2>
  <table class="govuk-table es-table--responsive es-table--stats">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Check in message status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight">Total</th> 
        <th scope="col" class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight es-table__cell--extra-highlight">%</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% set grandTotal = 0 %}
      {% for item in checkinNotificationStatusSummary %}
        {% set grandTotal = grandTotal + item.count %}
      {% endfor %}
      {% for item in checkinNotificationStatusSummary %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ item.status }}</th> 
          <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight">{{ item.count }}</td> 
          <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight">{{ item.percentage }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="govuk-heading-m">Device types</h2>
   <table class="govuk-table es-table--responsive es-table--stats">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Device type</th>
        {% for site in sites %}
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ site | capitalize }}</th>
        {% endfor %}
        <th scope="col" class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight">Total</th>
        <th
          scope="col"
          class="govuk-table__header govuk-table__header--numeric es-table__cell--highlight es-table__cell--extra-highlight"
        >
          %
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for deviceType, item in deviceTypes.entries() %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">{{ deviceType }}</th>
        {% for site in sites %}
          <td class="govuk-table__cell govuk-table__cell--numeric" data-label="{{ site | capitalize }}">
            {{ item.locations.get(site).count or 0 }}
          </td>
        {% endfor %}
        <td class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight" data-label="Total">
            {{ item.total or 0 }}
        </td>
        <td
          class="govuk-table__cell govuk-table__cell--numeric es-table__cell--highlight es-table__cell--extra-highlight"
          data-label="%"
        >
          {{ item.percentage or 0 }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
