@use 'govuk-frontend/dist/govuk/index' as gds;

.govuk-error-message:empty {
  display: none;
}

.es-inset-text--error {
  border-left-color: gds.$govuk-error-colour;
}

.es-heading--error {
  color: gds.$govuk-error-colour;
}

.es-hidden {
  display: none;
}

.es-show {
  display: block;
}
