{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set journeyName = "Sign up for remote check-in" %}
{% set pageTitle = "How would you like us to send a link to submit your remote check-in?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/register/photo/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ errorSummary(validationErrors) }}

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukRadios({
        name: "contactPreference",
        errorMessage: validationErrors | findError("contactPreference") | default(null),
        value: formData["contactPreference"],
        fieldset: {
          legend: {
            text: "How would you like us to send a link to submit your remote check-in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We will use these details to send a link when you are due to submit a remote check-in, and to send confirmation that you’ve submitted a remote check-in. "
        },
        items: [
          {
            value: "text",
            text: "Text message"
          },
          {
            value: "email",
            text: "Email"
          },
          {
            divider: "or"
          },
          {
            value: "both",
            text: "Both"
          }
        ]
      }) }}

      {{ govukWarningText({
        text: "This will not update your contact details you should contact your Probation Practitioner if your details have changed",
        iconFallbackText: "For your information"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
