---
# Per environment values which override defaults in hmpps-esupervision-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: esupervision-dev.hmpps.service.justice.gov.uk
    className: modsec-non-prod

  env:
    INGRESS_URL: 'https://esupervision-dev.hmpps.service.justice.gov.uk'
    HMPPS_AUTH_URL: 'https://sign-in-dev.hmpps.service.justice.gov.uk/auth'
    TOKEN_VERIFICATION_API_URL: 'https://token-verification-api-dev.prison.service.justice.gov.uk'
    ESUPERVISION_API_URL: 'https://esupervision-api-dev.hmpps.service.justice.gov.uk'
    V2_FEEDBACK_URL: 'https://probation-check-in-dev.hmpps.service.justice.gov.uk/feedback'
    ENVIRONMENT_NAME: DEV
    AUDIT_ENABLED: 'false'
    AUTHORISED_USER_ROLES: 'ROLE_ESUPERVISION__PRACTITIONER__RW'

generic-prometheus-alerts:
  alertSeverity: hmpps_esupervision_alerts_nonprod
