{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../layout.njk" %}
{% set section = "cases" %}

{% block content %}

  {% if successMessage %}
    {{
      govukNotificationBanner({
      html: '<p class="govuk-body">' + successMessage.message + '</p>',
      type: 'success',
      titleId: 'success-title'
      })
    }}
  {% endif %}
  <h1 class="govuk-heading-l">Cases</h1>
  {% if cases %}
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" aria-sort="ascending">Name</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Date of birth</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Telephone</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Email</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for case in cases.content %}
          <tr>
            <td class="govuk-table__cell">{{ case.firstName }} {{ case.lastName }}</td>
            <td class="govuk-table__cell">{{ case.dateOfBirth | formatDate }}</td>
            <td class="govuk-table__cell">{{ case.phoneNumber }}</td>
            <td class="govuk-table__cell">{{ case.email }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="/practitioners/cases/{{ case.uuid }}/invite" class="govuk-link">Invite</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2 class="govuk-heading-m">Cases</h2>
    <p class="govuk-body">No cases found</p>
  {% endif %}
{% endblock %}
