{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ applicationName }}</h1>

  <h2 class="govuk-heading-m">Person on probation</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/register" class="govuk-link govuk-link--no-visited-state">Register journey</a> </li>
    <li><a href="/check-in" class="govuk-link govuk-link--no-visited-state">Check-in journey</a> </li>
  </ul>


{% endblock %}
