{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ applicationName }}</h1>

  <h2 class="govuk-heading-m">Person on probation</h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a href="/submission/3e0e7fa3-798e-4856-9f5a-db49c878f131" class="govuk-link govuk-link--no-visited-state"
        >Submit a remote check in</a
      >
    </li>
  </ol>

  <h2 class="govuk-heading-m">Practitioner</h2>
  <ol class="govuk-list govuk-list--number">
    <li><a href="/practitioners/dashboard" class="govuk-link govuk-link--no-visited-state">Dashboard</a></li>
    <li><a href="/practitioners/register" class="govuk-link govuk-link--no-visited-state">Register a PoP</a></li>
  </ol>
{% endblock %}
