{% extends "../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{
    govukPanel({
        titleText: "API test",
        html: "Display date and time from the API<br><strong>" + formattedDate + "</strong>"
    })
  }}
{% endblock %}
